.background_weather{
    top: -200px;
}
.icon{
    position: relative;
    top: 20px;
    left: 2px;
    
}
.text{
    position: relative;
    top: -50px;
    text-align: left;
    padding: -100px;
}
.txt{
    position: relative;
    text-align: left;
    padding: -1000px;
}

.dark_background {
    background: linear-gradient( rgba(222, 175, 175, 0.5), rgba(119, 89, 89, 0.5) )/*, url('file:///Volumes/Animus/Jon/Dropbox/website/hellcity.jpg')*/;
   -webkit-background-size: cover;
   -moz-background-size:  cover;
   -o-background-size: cover;
   background-size: cover;
   top: -20px;

 }