body {
  background-image: url("background.png");
  text-align: center;
 }

.btn-group button {
  background: transparent;
  border-color: rgb(20, 20, 20); 
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  padding: 10px; 
  cursor: pointer; 
  float: left; /* Float the buttons side by side */
}


.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; 
}

/* Add a background color on hover */
.btn-group button:hover {
  border: black;
  color: #11111073;
  opacity: 0.8
}

.position {
  margin-top: 200px;
}

.position_right {
  margin-top: 300px;
  margin-left: 900px;
}